# Data Science Tools and Ecosystem

## In this introductory session, I am being forced to MARKUP the code. So LEARN!

**Objectives:**
* List some of the commonly used languages preferred by Data Scientists
* List some of the frequently used libraries
* List some common IDE platforms
* How to markup, make tables, bold things up

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. MATLAB
6. Julia
7. Scala
8. JavaScript

Some of the common libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. matplotlib
4. TensorFlow
5. PyTorch
6. plotly
7. NLTK

|Data Science Tools|
|--------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
#In this expression you see how () defeats the *
a = (3*4)+5
print(a)

17

In [23]:
#Convert 200 minutes to hours in secs
b = 200/60
print(b)

3.3333333333333335

## Author:
Kumar Pushpak